.search-box {
  margin-bottom: 10px;

  position: sticky;
  top: 0px;
}
.search-box-input {
  width: 100%;
  font-size: 1.2rem;
  padding: 1.2rem;
}

.post-root {
  h1 {
    text-align: left;
  }
}

.post-item-link {
  outline: none;
}
.post-item-link:hover button.post-item,
.post-item-link:active button.post-item,
.post-item-link:focus button.post-item {
  background-color: var(--bg-color-4);
}

.post-item {
  appearance: none;
  color: var(--text-active);
  width: 100%;
  max-width: 45rem;
  padding: 0;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  h3 {
    margin: 0;
  }
}

.posts-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38rem;
}
