.post-view-root {
  @keyframes gradient-anim {
    from,
    to {
      fill: #f52133f0;
    }
    50% {
      fill: #fc3d4def;
    }
  }

  @keyframes like-anim {
    from,
    to {
      transform: scale (1);
    }
    20% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;

  & > * {
    width: 45rem;
    max-width: 100%;
  }

  .post {
    background-color: #212121;
    max-width: 100%;
    border-radius: 6px;
    padding: 1rem;

    .post-title {
      width: 100%;
      text-align: left;
    }
    .post-content {
      width: 100%;
      text-align: left;

      line-height: 2rem;
    }

    pre {
      code {
        line-height: 1rem;
        span {
          white-space: pre-line;
        }
      }
    }

    figure {
      img {
        width: 100%;
      }
    }

    code {
      border-radius: 10px;
    }

    .post-aside-left {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      .like-button-wrapper {
        text-align: center;
        color: var(--primary-color-2-inactive);
        font-size: 1.2rem;

        svg {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      @media screen and (min-width: 960px) {
        position: fixed;
        left: 5%;
        top: 30vh;
      }
    }

    .post-aside-right {
      right: 5%;
      top: 30vh;
    }

    .post-comment-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    }
  }
}
