@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  color: white;
  background-color: var(--bg-color-1);
  padding: 0 1rem;
  margin: 0;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  :has(.post-root) {
    padding: 0;
    svg#blog-logo {
      margin-left: 1rem;
    }
  }

  font-family:
    GmarketSansMedium,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

main {
  width: 100%;
}
a {
  white-space: pre-line;
  word-break: break-word;

  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
}

h1,
h2,
h3 {
  color: inherit;
}

* {
  box-sizing: border-box;
}

dd {
  margin-left: 1rem;
}

code {
  background-color: #303030;
}

/* Keyframes */

@keyframes gradient-anim {
  from,
  to {
    fill: #f52133f0;
  }
  50% {
    fill: #fc3d4def;
  }
}

@keyframes like-anim {
  from,
  to {
    transform: scale (1);
  }
  20% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
