.nav-root {
  background-color: var(--bg-color-2);
  position: fixed;
  bottom: 0;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 5rem;

  padding: 1rem 0;
  border: 1px solid #5c5c5c;
  border-width: 1px 1px 0 1px;
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);

  .link-wrapper {
    appearance: none;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: var(--text-inactive);
    background-color: transparent;

    padding: 0.5rem;
    border-radius: 0.5rem;

    font-size: 0.8rem;

    cursor: pointer;

    &:hover {
      color: var(--text-active);
    }

    &.active {
      color: var(--text-inactive);
    }
  }
}
